@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Francois+One&family=Sedgwick+Ave+Display&family=Tenor+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
}
/* index.html */
header {
  border: 10px #efafaf solid;
}
.encabezado {
  background-image: url(../img/fondo1.jpg);
  min-height: 700px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #080230;
  font-size: 5.5em;
  font-family: "Sedgwick Ave Display";
  text-shadow: 2px 2px 2px #efafaf;
  margin-left: 1em;
  padding-top: 1em;
  text-align: left;
}
h2 {
  color: #efafaf;
  text-shadow: 4px 3px 3px rgb(5, 6, 32);
  font-size: 3.5em;
  backdrop-filter: blur(5px);
  margin: 1.5em 5em 1em 5em;
}

/*lista*/

li {
  list-style: none;
  font-size: 1.5em;
  line-height: 4;
}

.section-prod {
  background-color: rgb(90, 168, 217);
  background-image: url(../img/jugadora.jpg);
  background-size: 600px 300px;
  min-height: 200px;
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 black;
  margin: 3em 0.98em 3em 0.98em;
  padding-left: 1.5em;
}

/*articulos.hmtl*/

.body-detalles {
  background-image: url(../img/fondo1.jpg);
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img-top {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin: 0.5rem;
}
.precio {
  color: rgb(5, 6, 32);
  text-shadow: 3px 3px 2px #efafaf;
  font-size: 2.5em;
  font-weight: 500;
}

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(1, 6, 15);
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 10px #efafaf solid;
}

@media screen and (max-width: 320px) {
  /*index.html*/
  .encabezado {
    box-shadow: 0 4px 8px 0 black;
    min-height: 200px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.03em;
    text-shadow: 2px 2px 2px rgb(5, 6, 32);
    backdrop-filter: blur(5px);
  }
  li {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 6, 32);
    text-shadow: 2px 1px 1px #efafaf;
    line-height: 1;
  }

  }

@media screen and (max-width: 1024px) {
  .encabezado {
    box-shadow: 0 4px 8px 0 black;
    min-height: 350px;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    margin-left: 0;
  }
  h2 {
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgb(5, 6, 32);
    backdrop-filter: blur(5px);
    padding: 0;
    margin: 0
    ;
  }
  li {
    font-size: 0.87em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 6, 32);
    text-shadow: 2px 1px 1px #efafaf;
    line-height: 2.5em;
  }

  .section-prod {
  background-image: none;
    margin: 10px;
  }
}

/*articulos.hmtl*/

.header-detalles {
  border: 0;
  }
#detalle-producto {
  font-size: 1.5em;
}
#estrellas {
  font-size: 2em;
  margin-bottom: 2.5em;
}
